body{
    background-color:pink;
    height:auto;
}
.flex-container{
    display: flex;
}
#left-section{
    background-color: lightcoral;
    flex:10%;
    float:left;
  }
  #middle-section{
    display: inline-block;
    flex: content;
    background-color: gray;
    height: 1920px;
    width:1440px;
    overflow: auto;

  }
  #right-section{
    background-color: lightseagreen;
    flex:25%;
    float:right;
    
}