body{
    background-color:pink;
    height:auto;
}
.flex-container{
    display: flex;
}
#left-section{
    background-color: lightcoral;
    flex:10%;
    float:left;
  }
  #middle-section{
    display: inline-block;
    flex: 85%;
    background-color: white;
    width:1920px;
    height: 1080px;
    overflow: auto;

  }
  #right-section{
    background-color: lightseagreen;
    flex:15%;
    float:right;
    
}